.background    { background: #87CEFA;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: #D2B48C;   }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
.floater {
	background-color: #7FFFD4;
}
