.background    { background: #87CEFA;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava1          { background: #cc0000; }
.lava2		   { background: #FF6103; }
.lava3		   { background: #FF3030; }
.lava4		   { background: #8B3A3A; }
.wall          { background: #D2B48C;   }
.grass		   { background: #7FFFD4; }
.stone1		   { background: #A9A9A9; }
.stone2		   { background: #696969; }

.actor    { position: absolute;  }
.coin     { background: #ffd966; }
.player   { background: #4B0082; }
.power    { background: rgb(138, 43, 226); }
.portal1  { background: #40E0D0; }
.portal2  { background: #FFE1FF; }
.ghost	  { background: #ffffff; }

.powerUp { background: #ffcc00; }
/* .powerUp2 { background: #ffff00; }
.powerUp3 { background: #ffff99; }
.powerUp4 { background: #ffffff; } */

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: red;
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
